body{
	background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
	background-repeat: no-repeat;
    color: rgb(173, 90, 157);
    font-size: 28px;
    
}

.box1{
    text-align: center;
    padding: 40px 40px 5px 20px;
}

.box2{
    text-align: center;
    padding: 40px 40px 50px 113px;
}

button 
{
    border-radius: 10px;
    background-color: azure;

}
